body, html {
    height: 100%;
    font-family: 'Alegreya Sans', sans-serif;

}

.navbar {
    border-bottom: 1px solid #dedede;
    font-family: 'Alegreya Sans', sans-serif;
}

.navbar .navbar-nav .nav-link {
    color: #d1d1d1;
}

    .navbar .navbar-nav .nav-link:hover {
        color: #fff;
    }

.navbar-toggler-icon {
    color: #fff;
}
/*header*/

#header {
    /*background: url('Pictures/headerhouse.jpg') center center no-repeat;*/
    background-size: cover;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
}

    #header .header-right {
        background-color: rgba(0,0,0,0.5);
        padding: 30px;
        border-radius: 10px;
    }

.footer {
    background-color: rgba(21,31,33,0.5);
    border-bottom: 1px solid #dedede;
    font-family: 'Alegreya Sans', sans-serif;
}



